body, html{
	overflow-x:hidden;
	overflow-y:hidden;
	height:100%;
}

html{
    background:transparent;    
	background-clip: padding-box;
}

body {
	overflow:hidden;
	font-family: 'Poiret One', cursive;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: rgba(255, 255, 255, 0.8);
	background-color: #33B5E5;
	background-image: url('../images/sales.svg');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 2460px;
	clear: both;
	background-clip: padding-box;
}

.content-background{
	background-image: url(../images/ptrn.png);
    background-repeat: repeat-x;
    background-position: center top;
	background-size: auto;
}

button:active {
	outline: none;
	border: none;
}

button:focus {
	outline:0;
}
.table-app{
	width:600px;
	position: absolute;
    top:164px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#tablebody > td {
	font-weight:600;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

p {
	cursor:default;
}

.shadow{
	-webkit-box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.75);
}

.bootstrap-datetimepicker-widget a{
	color: #00A2D3 !important;
}

/* Pen Title */
.pen-title {
  padding: 30px 0 22px 0;
  text-align: center;
  letter-spacing: 2px;
  cursor:default;
  margin-top: 25px;
}
.pen-title h1 {
  margin: 0 0 6px;
  font-weight: 500;
  font-size: 45px;
  line-height: normal;
  color:#fff;
  cursor:default;
  text-decoration:none;
  margin-left: -54px
}
.pen-title span {
  font-size: 12px;
}
.pen-title span .fa {
  color: #fff;
}
.pen-title span a {
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

/* Form Module */
.form-module {
  z-index:999;
 -webkit-border-radius:18px;
  position: fixed;
  left:345px;
  background: #ffffff;
  max-width: 320px;
  width: 100%;
  border-top: 5px solid #2991B7;
  margin: 0 auto;
  -webkit-box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.75);
}
.form-module .toggle {
  cursor: pointer;
  position: absolute;
  top: -0;
  right: -0;
  background: #2991B7;
  width: 30px;
  height: 30px;
  margin: -5px 0 0;
  color: #ffffff;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}
.form-module .toggle .tooltip {
  position: absolute;
  top: 5px;
  right: -65px;
  display: block;
  background: #fff;
  color: #2991B7;
  width: auto;
  padding: 5px;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
}
.form-module .toggle .tooltip:before {
  content: '';
  position: absolute;
  top: 5px;
  left: -5px;
  display: block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #fff;
}
.form-module .form {
  display: none;
  padding: 40px;
  padding-top: 32px;
}
.form-module .form:nth-child(2) {
  display: block;
}
.form-module h2 {
  margin: 0 0 20px;
  color: #33b5e5;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  cursor:default;
}
.form-module p {
  margin-top:-15px;
  margin-bottom:6px;
  color: #EF4751;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  cursor:default;
  display:none;
}
.form-module input {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-wieght: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-family: 'Poiret One', cursive;
  font-size: 16px;
  font-weight: bold;
}
.form-module input:focus {
  border: 1px solid #33b5e5;
  color: #666;
}
.form-module button {
  margin-top:5px;
  cursor: pointer;
  background: #33b5e5;
  width: 100%;
  border: 0;
  height:40px;
  padding: 10px 15px;
  color: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-family: 'Poiret One', cursive;
  font-size: 16px;
  font-weight: 500;
}
.form-module button:hover {
  background: #2991B7;
}
.switchery{
  position: absolute;
  left:14px;
  margin-top:7px;
  -webkit-app-region: no-drag;
  cursor:pointer;
  z-index:9999;
  background: transparent;
}
