.top-titlebar {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 32px;
	background-color: transparent;
	-webkit-user-select: none;
	-webkit-app-region: drag;
}
#footer-link {
	position: absolute;
	left: 17px;
	bottom: 17px;
	color:#fff;
	text-decoration:none;
	cursor:pointer;
	font-size:15px;
}
.top-titlebar button{
	font-size:17px;
	border: none;
	outline:none;
}
#close{
  color:#fff;
  position: absolute;
  border: 0;
  right:12px;
  margin-top: 5px;
  -webkit-app-region: no-drag;
  cursor:pointer;
  z-index:9999;
  background: transparent;
}
#minimize{
  color:#fff;
  position: absolute;
  border: 0;
  right:30px;
  margin-top: 9px;
  -webkit-app-region: no-drag;
  cursor:pointer;
  z-index:9999;
  background: transparent;
}
#close:hover{
  color:#2991B7;
}
#minimize:hover{
  color:#2991B7;
}
#logout:hover{
  color:#2991B7;
}
.rem-p{
  position: absolute;
  font-family: 'Roboto', sans-serif;
  left: 55px;
  margin-top: 17px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
}
#logout-switch{
  display:none;	
}
.panel-default > .panel-heading, .btn-default {
  color: #33B5E5;
}
.input-group-addon {
  color: #33B5E5;
}
.btn-default:hover ,
.btn-default:active ,
.btn-default:focus 
{
  color: #2991B7;
}
.cr-styled input:checked + i {
  border-color: #CCC;
  color: #2991B7;
}
tr{
  font-size:14px;
}
th,td {
  color: #33B5E5;
}
.form-control {
  color: #33B5E5;	
}
#must1, #must2, #must3, #must4, #must5{
  display:none;	
}

/** loading **/
.loading{
  display:none;	
}
.loading,
.loading:before,
.loading:after {
  border-radius: 50%;
}
.loading:before,
.loading:after {
  position: absolute;
  content: '';
}
.loading:before {
  width: 5.2em;
  height: 10.2em;
  background: #ffffff;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loading {
  color: #2991B7;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loading:after {
  width: 5.2em;
  height: 10.2em;
  background: #ffffff;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}