.top-titlebar {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 35px;
	background-color: transparent;
	-webkit-user-select: none!important;
	-webkit-app-region: drag!important;
	background-color: rgb(15, 127, 160);
	box-shadow: 0 4px 2px -2px #499bb9;
	z-index: 12;
}
#footer-link {
	position: absolute;
	left: 17px;
	bottom: 17px;
	color:#fff;
	text-decoration:none;
	cursor:pointer;
	font-size:15px;
	z-index:12;
}
.top-titlebar button{
	border: none;
	outline: none;
}
#close{
  color:#fff;
  position: absolute;
  border: 0;
  right:12px;
  margin-top:9px;
  -webkit-app-region: no-drag;
  cursor:pointer;
  z-index:9999;
  background: transparent;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
#minimize{
  color:#fff;
  position: absolute;
  border: 0;
  right:34px;
  margin-top:13px;
  font-size:15px;
  -webkit-app-region: no-drag;
  cursor:pointer;
  z-index:9999;
  background: transparent;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
#page-title{
  position: absolute;
  left:15px;
  margin-top: 11px;
  -webkit-app-region: no-drag;
  z-index:9999;
  background: transparent;
  font-size: 17px;
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  text-decoration: none;
  display: none;
}
.menu-btn{
  position: fixed;
  top: 40px;
  width: 40px;
  left: 7px;
  height: 40px;
  padding: 4px;
  cursor: pointer;
  z-index: 10;
  display: none;
}
#open-btn{
  background: transparent;
  color: #fff;
  font-size: 25px;
  border-style: dashed;
  border-radius: 3px;
  border-width: 1px;
  pointer: cursor;
  cursor: pointer;	
}
#logout-btn{
  display: none;
}
#close:hover,
#minimize:hover,
#logout:hover{
  color:#81cbe6;
  
}
.rem-p{
  position: absolute;
  left: 53px;
  margin-top: 11px;
  color: #fff;
  text-decoration: none;
}
.content-wrap{
  height: 100%;
  width: 100%;
  opacity: 0;
}
#logout-switch{
  display:none;	
}
.panel-default > .panel-heading, .btn-default {
  color: #33B5E5;
}
.input-group-addon {
  color: #33B5E5;
}
.btn-default:hover ,
.btn-default:active ,
.btn-default:focus 
{
  color: #2991B7;
}
.cr-styled input:checked + i {
  border-color: #CCC;
  color: #2991B7;
}
tr{
  font-size:14px;
  font-weight:bold;
}
th,td {
  color: #33B5E5;
}
.form-control {
  color: #33B5E5;	
}
.table-btns-group{
  margin-bottom:0;
  bottom: 87px;
  position: fixed;
}
.control-label {
  font-weight: 600;
  margin-bottom: 4px;
  margin-left: 2px;
}
.noBorder{
  border-bottom-style: hidden;
}
#must1, #must2, #must3, #must4, #must5{
  display:none;	
}
input#input-date {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}
span.input-group-addon {
  cursor: pointer;
}
.input-group.date .input-group-addon span {
  font-weight: bold;
  font-size: 16px;
}
.pager {
  text-align: center;
  float: right;
  margin: 0;
  margin-right: 240px;
}

.pager span {
  display: inline-block;
  padding: 7px 13px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #fff;
  border-color: #ccc;
  color: #33B5E5;
  width: 38px;
  height: 34px;
  margin-right: 4px;
}
button{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;	
}
span.input-group-addon:hover,
span.input-group-addon:active,
span.input-group-addon:focus,
.pager span:hover,
.pager span:focus,
.pager span.active {
  color: #2991B7;
  background-color: #E0E0E0;
  border-color: #adadad;
}

.svg-hero-container {
  position: initial;
  display: flex;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.menu-desc p{
	position: fixed;
    top: 40px;
    left: 87px;
	color: #fff;
	font-size: 16px;
}

.svg-loader{
	fill: #f6f6f6;
}

.gear1 { 
	-webkit-animation: rotation-left 4.2s infinite linear;
	-moz-animation: rotation-left 4.2s infinite linear;
	-o-animation: rotation-left 4.2s infinite linear;
	animation: rotation-left 4.2s infinite linear;
}

.gear2 { 
	-webkit-animation: rotation-right 3s infinite linear;
	-moz-animation: rotation-right 3s infinite linear;
	-o-animation: rotation-right 3s infinite linear;
	animation: rotation-right 3s infinite linear;
}

@-webkit-keyframes rotation-right {
	from {-webkit-transform: rotate(0deg);}
	to   {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotation-right {
	from {-moz-transform: rotate(0deg);}
	to   {-moz-transform: rotate(360deg);}
}
@-o-keyframes rotation-right {
	from {-o-transform: rotate(0deg);}
	to   {-o-transform: rotate(360deg);}
}
@keyframes rotation-right {
	from {transform: rotate(0deg);}
	to   {transform: rotate(360deg);}
}
		
@-webkit-keyframes rotation-left {
	from {-webkit-transform: rotate(360deg);}
	to   {-webkit-transform: rotate(0deg);}
}
@-moz-keyframes rotation-left {
	from {-moz-transform: rotate(360deg);}
	to   {-moz-transform: rotate(0deg);}
}
@-o-keyframes rotation-left {
	from {-o-transform: rotate(360deg);}
	to   {-o-transform: rotate(0deg);}
}
@keyframes rotation-left {
	from {transform: rotate(360deg);}
	to   {transform: rotate(0deg);}
}

#clockdate-full {
	position: fixed;
	cursor: default;
	left: 257px;
}

.btn{
	outline:none!important;
}
.btn-fd{
	transition: all 0.2s ease 0s;
	border-width: 0px 0px 3px;
	border-style: none none solid;
	border-color: -moz-use-text-color -moz-use-text-color #CCC;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	padding: 8px 18px;
	outline: 0px none;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px;
	border-bottom-width: 4px;
	padding: 12px 32px;
	background-color: #fff;
	margin-top: 20px;
	border-bottom-color: #BFD8E1;
	box-shadow: 0 5px 6px rgba(0, 0, 0, 0.36);
	position: fixed;
	left: 380px;
	top: 290px;
	width: 250px;
	height: 60px;
	cursor: pointer;
	color: #33B5E5;
	font-family: 'Poiret One', cursive;
    font-weight: bold;
}

#btn-fd:hover,
#btn-fd:focus{
	color:#2991B7;
	background-color: #fff;
	opacity:1;
}

/** loading **/
.loading{
  display:none;	
}
.loading,
.loading:before,
.loading:after {
  border-radius: 50%;
}
.loading:before,
.loading:after {
  position: absolute;
  content: '';
}
.loading:before {
  width: 5.2em;
  height: 10.2em;
  background: #ffffff;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loading {
  color: #2991B7;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loading:after {
  width: 5.2em;
  height: 10.2em;
  background: #ffffff;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/** Modal **/
.modal-div {
	width: 350px;
	margin: 130px auto;
}
.modal-content{
	-webkit-border-radius: 16px;
    border-top: 5px solid #EF4751;
}
.modal-body{
	color: #EF4751;
	font-weight: 800;
	padding: 22px;
}
.modal-body h2 {
	font-size: 17px;
	margin: 5px 0px 16px 0px;
	cursor: default;
}
.modal-body p {
	font-size: 15px;
	margin: 0 0 6px 0;
	line-height: 1.33;
}
.modal-content a{
	cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    background: #EF4751;
    width: 24px;
    height: 24px;
    margin: -5px 0 0;
    color: #ffffff;
    font-size: 38px;
    line-height: 30px;
    text-align: center;
	transition: all 0.2s ease 0s;
    z-index: 1053;
}
.modal-content a:hover,
.modal-content a:active{
	color: #c32e37;
    font-weight: 600;
}
.btn-err{
	color: #fff;
    transition: all 0.2s ease 0s;
    border-width: 0px 0px 3px;
    border-style: none none solid;
    border-color: -moz-use-text-color -moz-use-text-color #CCC;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    padding: 8px 18px;
    outline: 0px none;
    line-height: 1.23;
    border-radius: 6px;
    letter-spacing: 0.7px;
    border-bottom-width: 4px;
    padding: 10px 24px;
    background-color: #EF4751;
    border-bottom-color: #b5434a;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.36);
    cursor: pointer;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}
.btn-err:hover{
	background-color: #c32e37;
    border-bottom-color: #b10d17;
	color: #fff;
}
/** Animacije za modal **/
.fade{
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.fade.in {
    -webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}